%header
  .header__top-message チャットグループが作成されました。

.left_contents
  .--name_contents
    .__user-name takakuda
    .__i.fa.fa-pencil-square-o.fa-lg{"aria-hidden" => "true"}
    .__i.fa.fa-cog.fa-lg{"aria-hidden" => "true"}


  .--messages_contents
    .__coment1 aaaaaaaaaaaa
    .__text1 まだメッセージはありません。

    .__coment2 sampleグループ
    .__text2 まだメッセージはありません

.right_contents
  .--group_contents
    .--edit_button
      %input.button_edit{:style => "background:white;color:#00FFFF;", :type => "submit", :value => "Edit"}/

    .__group-name sampleグループ
    .__member member
  .--chat_contents
    .__user takakuda kei
    .__time 2017/05/01 18:03:47
    .__messages なるほど
    .__user kei takakuda
    .__time 2017/05/03 05:04:54
    .__messages もう18時
    .__user takakuda tomizou
    .__time 2017/05/01 19:30:57
    .__messages 頑張れ

.--input_messages
  .__send_box

    %input.message_area{ type: :text }

    .box
      .i.fa.fa-file-image-o.fa-lg{"aria-hidden" => "true"}



    .__send_button
      .button_send
        %input.button_send{:style => "background:white;color:#00FFFF;", :type => "submit", :value => "Send"}/
