.chat_contents {
  padding-top: 40px;
  .h4 {
    line-height: 46px;
    size: 10px;
    display: inline;
    padding-left: 40px;
  }
  .p {
   display: inline;
   color: #999999;
   size: 12px;
   padding-left: 40px;
  }
  .p1 {
    line-height: 10px;
    display: block;
    padding-bottom: 40px;
    padding-left: 40px;
  }

}
