.chat_contents {
  padding-top: 40px;
  background-color: white;
  .user {
    line-height: 46px;
    size: 16px;
    display: inline;
    padding-left: 40px;
    font-style: bold;
    color: #434A54;
  }
  .time {
   display: inline;
   color: #999999;
   size: 12px;
   padding-left: 40px;
  }
  .messages {
    line-height: 10px;
    display: block;
    padding-bottom: 40px;
    padding-left: 40px;
    size: 14px;
    color: #434A54;
  }

}
