　 .edit_button {
    padding-right: 40px;
    margin-top: 50px;
    height: 40px;
    width: 60px;
    float: right;
  }
  .button_edit {
    height: 40px;
    width: 60px;
    background: none;
    border-color: #00FFFF;
    border: 1
  }

