
.--group_contents {
  height: 128px;
  background-color: white;


  .__group-name {
    font-size: 20px;
     padding-top: 50px;
     padding-left: 40px;
  }
  .__member {
    color: #999999;
    size: 12px;
    line-height: 15px;
    padding-bottom: 46px;
    padding-left: 40px;
  }
  .--edit_button {
    padding-right: 40px;
    margin-top: 50px;
    height: 40px;
    width: 60px;
    float: right;

  }
  .button_edit {
    height: 40px;
    width: 60px;
    background-color: #FFA500;
    border: 0;
    background: none;
    background-color: #FFA500;
  }
}
