.--input_messages {
  height: 90px;
  width: 785px;
  float: right;

  .__send_box {
  height: 50px;
  background-color: #FFFAF0;
  margin: 20px 0;
  .h4 {
    display: inline;
    text-align: center;
  }
  .message_area {
    height: 45px;
    width: 600px;
    float: left;
  }

  .box {
    display: inline;
    background-color: white;
    float: left;
  }

  .i.fa.fa-file-image-o {
    position: absolute;
    right: 140px;
    top: 780px;
  }
.__send_button {
  height: 80px;
  width: 80px;
  float: right;
  padding-right: 40px;
  background-color: white;
  border-color: #00FFFF;

   .button_send {
    height: 50px;
    width: 80px;
    border-color: #00FFFF;
    background-color: #00FFFF;

  }
}
}
}
