.--input_messages {
  height: 90px;
  width: 785px;
  float: right;
  background-color: #D3D3D3;

  .__send_box {
    height: 20px;
  background-color: white;
  margin: 20px 0;
  .h4 {
    display: inline;
    text-align: center;
  }
  .message_area {
    height: 45px;
    width: 661px;
    float: left;
  }

  .box {
    display: inline;
    background-color: white;
    float: left;
  }

  .i.fa.fa-file-image-o {
    position: absolute;
    right: 150px;
    top: 780px;
  }
.__send_button {
  height: 50px;
  width: 80px;
  float: right;
  padding-right: 40px;
  background-color: white;

   .button_send {
    height: 50px;
    width: 80px;
    background-color: #1E90FF;
    border: 0;
    background: none;

  }
}
}
}
