.chat-space {
  height: 800px;
  width: 300px;
  background-color: #2f3e51;
  float: left;

  &__name {
  background-color: 253141;
  height: 128px;

    &-contents {
    color: #FFFFFF;
    size: 16px;
    font-weight: bold;
    line-height: 120px;
    text-align: center;
    }
    .i.fa.fa-pencil-square-o {
    color: white;
    padding-left: 210px;
    display: inline;
    position: absolute;
    top: 80px;
    }
    .i.fa.fa-cog {
    color: white;
    padding-left: 200px;
    display: inline;
    position: absolute;
    top: 80px;
    left: 40px;
    }
  }
  ._message {
  padding-top: 40px;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
  opacity: 0.5;
  }

    p.-comment {
    color: white;
    font-style: bold;
    padding-left: 20px;
      }
    p.-text {
      color: white;
    padding-left: 20px;
  }
}
}
