.messages_contents {
  padding-top: 40px;
   .p2 {
    color: #F8F8FF;
    font-style: bold;
   }
   .p3 {
    color: #F8F8FF;
   }

   .p4 {
    color: #F8F8FF;
    font-style: bold;
    padding-top: 50px;
   }

   .p5 {
    color: #F8F8FF;
   }
 }
