.--messages_contents {
  padding-top: 40px;
   .__coment1 {
    color: #F8F8FF;
    font-style: bold;
   }
   .__text1 {
    color: #F8F8FF;
   }

   .__coment2 {
    color: #F8F8FF;
    font-style: bold;
    padding-top: 50px;
   }

   .__text2 {
    color: #F8F8FF;
   }
 }
