.messages_contents {
  padding-top: 40px;
   .coment1 {
    color: #F8F8FF;
    font-style: bold;
    padding-left: 20px;
   }
   .text1 {
    color: #F8F8FF;
    padding-left: 20px;
   }

   .coment2 {
    color: #F8F8FF;
    font-style: bold;
    padding-top: 50px;
    padding-left: 20px;
   }

   .text2 {
    color: #F8F8FF;
    padding-left: 20px;
   }

 }
