.chat-main {
  background-color: white;
  float: left;
  height: 710px;
  width: 785px;
  &__group {
    height: 128px;
    background-color: white;
    p.group__name {
      font-size: 20px;
     padding-top: 50px;
     padding-left: 40px;
     color: black;
    }
    p.group__member {
      color: grey;
    size: 12px;
    line-height: 15px;
    padding-bottom: 46px;
    padding-left: 40px;
    }
    p.group__btn {
    display: inline-block;
    padding-right: 15px;
    margin-top: 50px;
    height: 40px;
    width: 40px;
    position: absolute;
    right: 60px;
    top: 28px;
    background: none;
    border-color: #00BFFF;
    border: solid;
    color: #00FFFF;
    text-align: center;
    line-height: 40px;
    text-indent: 0.1in;
    }
  }
  &__contents {
    padding-top: 40px;
    background-color: white;
    height: 550px;
    &-user {
    line-height: 46px;
    size: 16px;
    display: inline;
    padding-left: 40px;
    font-style: bold;
    color: black;
    }
    &-time {
    display: inline;
    color: grey;
    size: 12px;
    padding-left: 40px;
    }
    &-messages {
    line-height: 10px;
    display: block;
    padding-bottom: 40px;
    padding-left: 40px;
    size: 14px;
    color: black;
  }
  }
  &__input {
    height: 90px;
    width: 785px;
    .submit__content {
    height: 50px;
    width: 511px;
    float: left;
    padding-left: 190px;
    margin-top: 25px;
  }
    .fa-lg {
      content: "\f1c5";
    position: relative;
    right: 30px;
    top: 35px;
  }
      .submit__btn {
      height: 55px;
  width: 80px;
  float: right;
  padding-right: 40px;
  padding-left: 15px;
  margin-bottom: 20px;
  background-color: #1E90FF;
  color: white;
  border: solid;
  text-align: center;
    }
  }

}

