.send_box {
  height: 50px;
  background-color: #FFFAF0;
  margin: 20px 0;
  .h4 {
    display: inline;
    text-align: center;
  }
  .message_area {
    height: 45px;
    width: 650px;
  }
  .i.fa.fa-picture-o {
    display: inline;
    padding-left: 650px;
    text-height: middle;
  }
}
