@import "./reset";
@import "_colors.scss";
@import "font-awesome";
@import "_header.scss";
@import "_left_contents.scss";
@import "_right_contents.scss";
@import "_user.scss";
@import "_flash.scss";
@import "_group.scss";

.message {
  padding: 20px 20px 40px 20px;
  color: white;
  display: inline-block;
  text-decoration: none;
  &:hover {
  opacity: 0.5;
  }
  &__comment {
    font-size: 15px;
    padding-bottom: 5px;
  }
  &__text {
    font-size: 11px;
  }
}
